@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('public/tic-tac-toe-hand-drawn-game.png');
  color: #fff;
  font-family: arial, sans-serif;
}

#inside-body {
  background-color: rgba(100, 100, 100, .95);
  width: 100%;
  min-height: 100vh;
}

footer {
  padding: 1rem 3rem 5rem 3rem;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

footer > p {
  margin: 0;
  padding: 0;
}

form {
  font-size: .75rem;
  text-align: center;
}

form > input {
  border-radius: 5px;
}

form > p, form > input {
  display: inline;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h1 > img {
  opacity: 1;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

header {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

img {
  opacity: .2;
}

input {
  margin: .5rem;
}

.auth {
  background-color: purple;
}

.badge img {
  opacity: .2;
}

.board {
  background-color: #d7abef;
  border: 1px purple solid;
  position: relative;
  width: 50%;
}

.board:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.board img {
  position: absolute;
  width: auto;
  height: 100%;
}

.container {
  padding: 0 1rem;
  pointer-events: none;
}

.credit {
  font-size: .7rem;
  font-style: italic;
}

.image-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

#playerTracker img {
  display: none;
}

#reset-game input {
  font-size: 1rem;
  border: 2px solid purple;
  box-shadow: 0 0 10px yellow;
  outline: none;
}

#stats {
  color: orange;
  text-align: center;
}

#userMessage {
  background-color: yellow;
  color: purple;
  font-size: 1.5rem;
  font-weight: 500;
}

.row {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 0) and (max-width: 600px)
{
  .middle {
    margin: 1rem;
    padding: 0;
}
  #badge {
    display: block;
    text-align: center;
  }
  .board img {
    position: absolute;
  }
}
