@import '~bootstrap/scss/bootstrap';

body {
  background-image: url(../../assets/images/tic-tac-toe-hand-drawn-game.png);
  color: white;
}

footer {
  background-color: rgba(100, 100, 100, .95);
padding: 3rem;
text-align: center;
}

footer > p {
  padding: 0;
  margin: 0;
}

header {
  background-color: rgba(100, 100, 100, .95);
  padding: 1rem;
}

img {

  opacity: .2;
}

.board {

}

.board {
  background-color: #d7abef;
  border: 1px purple solid;
  height: 80px;
  max-width: 80px;
  min-width: 80px;
}

.container-fluid {
  background-color: rgba(100, 100, 100, .95);
  pointer-events: none;
}

.image-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.middle {

}

.middle p {
  padding-left: 2rem;
}

.left {
  align-self: flex-start;
  height: 240px;
}

#userMessage {
  color: purple;
  font-size: 1.5rem;
  font-weight: 500;
}
